
testingPipeline/packages
packages
.vs/StreetlightVision/v15/sqlite3/storage.ide
testingPipeline/StreetlightVision/bin/Debug
StreetlightVision/bin
StreetlightVision/obj
StreetlightVision/bin/Debug/nunit_random_seed.tmp
StreetlightVision/obj/Debug/StreetlightVision.csproj.FileListAbsolute.txt
